@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

//////////////////////////////////////////////// SAAS VARIABLE
$shadow1: 0 0 5px rgb(84 69 48 / 55%);
$minWidth: 280px; // Galaxy Fold
$maxWidth: 2000px;
$pcWidth: 800px;
$borderRadius1: 1rem;
$linearGradient1: linear-gradient(to bottom, var(--main_color), var(--secundary_color));
$gap1: 10px;
$blur1: 5px;
$width: clamp($minWidth, 100vw, $maxWidth);
$topHeaderHeight: 65px;
$bottomHeaderHeight: 70px;

//////////////////////////////////////////////// BASE
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {    
    scroll-behavior: smooth;
    color: black;
    min-width: $minWidth;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 115px;

    --main_color: hsl(34, 49%, 63%);
    --main_color_transparent: hsla(34, 49%, 63%, 0.7);
    --secundary_color: hsl(34, 31%, 51%);
    --secundary_color_dark: hsl(34, 31%, 15%);
    --background_color1: hsl(32, 100%, 97%);
    --background-color2: hsl(35, 43%, 88%);
}
body {
    touch-action: none;
    user-select: none;
    zoom: 1 !important;
    background-color: var(--background-color2);
}
h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--main_color);
    transition: opacity .5s;
}
a:hover {
    opacity: .7;
}

//////////////////////////////////////////////// ELEMENTS
header {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 16, 16);
    background-size: cover;
    background-position: center;

    h1, h2 {
        color: white;
        text-shadow: 0 0 50px black, 0 0 20px black, 0 0 5px black;
        background-color: #2e2b24b9;
        padding: 1rem;
        border-radius: 1rem;
        backdrop-filter: blur($blur1);
    }
}
.btn {
    background-color: var(--main_color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
}

//////////////////////////////////////////////// PRELOADER
#preLoader {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(0);
    transition: transform .5s;
    background-image: linear-gradient(to bottom, var(--main_color), var(--secundary_color));

    img {
        height: 75px;
    }
}


//////////////////////////////////////////////// NAVIGATION
nav{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    text-transform: uppercase;
    box-shadow: $shadow1;
    width: $width;
    z-index: 10;
}


// Primary Menu, Header
#primaryMenu {
    top: 0;
    height: $topHeaderHeight;
    background-color: rgb(231, 231, 231);

    .logo {
        padding-left: 5px;
    }
    #hamburger {
        background-color: var(--main_color);
        height: 100%;
        cursor: pointer;
        justify-self: end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        padding: 0 15px;
        span {
            height: 5px;
            width: 35px;
            border-radius: 2px;
            background-color: white;
        }
    }
}
#primaryMenu > div, img {
    grid-column: span 6;
}


// Secundary Menu (Mobile)
#secundaryMenu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    z-index: 9;
    position: fixed;
    top: 65px;
    bottom: 70px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, var(--main_color_transparent), var(--main_color));

    backdrop-filter: $blur1;
    transform: translateX(100%);
    opacity: 0;
    transition: transform .5s, opacity 1s;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    text-shadow: $shadow1;

    a {
        color: white;
    }
    .contact {
        display: flex;
        gap: 1rem;
        font-size: 2.5rem;
    }
    .menu {
        grid-column: span 12;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;

        a {
            padding: 5px;
        }
    }
    .switch {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $shadow1;
    }
}
#secundaryMenu[data-visible = "true"] {
    transform: translateY(0%);
    opacity: 1;
}


// Mobile Menu, App Menu
#appMenu {
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--main_color_transparent), var(--main_color));
    backdrop-filter: blur($blur1);
    justify-content: space-around;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    transition: transform 0.5s 0.15s;
    transform: translateY(120%);

    a {
        color: whitesmoke;
        text-shadow: 0 0 5px hwb(35 19% 67% / 0.5);
        padding: 6px 6px 10px 6px;
        font-size: 12px;
        grid-column: span 3;
    }
    i {
        min-width: 10px;
        font-size: 35px;
    }
    .active {
        background-color: white;
        background-image: linear-gradient(to bottom, white, rgb(235, 235, 235));
        box-shadow: $shadow1;
        color: var(--main_color_2);
        text-shadow: none;
        border-radius: 15px 15px 0 0;
        margin-top: -10px;
        padding-top: 16px;
    }
}

// Pop up Windows
#popupWindow {
    position: fixed;
    top: $topHeaderHeight;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 9;

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--background_color1);
        box-shadow: $shadow1;
        width: 100%;
        max-width: 800px;
        z-index: 9;
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-radius: 2rem;
    }
    .cover {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    .content {
        position: relative;
        bottom: 0;
        background-color: var(--background_color1);
        padding: 2rem;
        padding-bottom: 0;
        border-radius: 2rem;
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        box-shadow: $shadow1;

        i {
            font-size: 4rem;
        }
    }
    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .background {
        position: fixed;
        inset: 0;
        background-color: var(--main_color_transparent);
        backdrop-filter: blur($blur1);
        z-index: 8;
    }
}

//////////////////////////////////////////////// ALERTS
.alertBox {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap1;
    padding: $gap1;
}
.alertBox > div {
    background-color: rgb(32, 85, 185);
    color: white;
    padding: 8px;
    border-radius: 7px;
    max-width: 600px;
}

//////////////////////////////////////////////// FOOD, MENU
#food {
    #foodCategories {
        position: sticky;
        z-index: 8;
        top: $topHeaderHeight;
        background-color: rgb(31, 31, 31);
        .drink {
            background-color: white;
            color: black;
        }
        .content {
            overflow: auto;
            white-space: nowrap;
            padding: 10px 5px;
            .btn {
                margin-right: 8px;
            }
        }
    }
    #allergysBox {
        background-image: linear-gradient(to bottom, red, rgb(179, 0, 0));
        color: white;
        padding: 1rem;
        text-align: center;

        summary {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding: 10px;
        }
        .btn {
            opacity: .5;
            transition: opacity .5s, transform .5s;
        }
        .btn:hover {
            opacity: 1;
            transform: scale(.9);
        }
        .active {
            background-color: var(--main_color);
            opacity: 1;
        }
    }
    .foodBox {
        padding-bottom: 2rem;

        .foodTitles {
            background-image: $linearGradient1;
            box-shadow: var(--shad_5);
            color: #fff;
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
        }
        .foodContent {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: $gap1;
            gap: $gap1;
            
            .foodItem {
                grid-column: span 6;
                background-color: var(--background_color1);
                border-radius: $borderRadius1;
                box-shadow: $shadow1;
                position: relative;
                transition: transform .5s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: $gap1;
                align-items: center;
                text-align: center;
                padding-bottom: $gap1;
            }
            .foodItem:hover {
                transform: scale(.9);
            }
            .code {
                position: absolute;
                font-weight: normal;
                left: 5px;
                top: 5px;
                font-size: 1rem;
            }
            b {
               font-size: 1.1rem;
               padding: 0 5px;
            }
            .price {
                color: var(--main_color);
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        img {
            aspect-ratio: 4/3;
            object-fit: cover;
            width: 100%;
            border-radius: $borderRadius1;
        }
    }
}


//////////////////////////////////////////////// FOOTER
footer {
    text-transform: uppercase;
    text-align: center;
    color: var(--main_color);
    background-image: linear-gradient(#2e2b24, #1b1915);

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc($gap1 / 2);
        background-image: $linearGradient1;
        font-size: 16px;
        font-weight: bold;
        color: var(--secundary_color_dark);
        a {color: var(--secundary_color_dark)}
        i {font-size: 2.5rem;}
        .content {
            display: flex;
            gap: $gap1;
        }
    }

    .middle {
        color: white;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: center;
        row-gap: 30px;

        .contact {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            line-height: 1.5rem;
            padding: 0 1rem;
        }
    }
    .middle > div {
        grid-column: span 12;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        row-gap: $gap1;
        border-top: #1b1915 solid 2px;
        background-color: #1b1915;
        padding-bottom: 120px;

        .menu {
            gap: .5rem;
        }
        .creator {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            
            .logo {
                height: 22px;
            }
        }
    }
}
footer > div {
    padding: calc($gap1 * 2);
}

//////////////////////////////////////////////// MEDIA
@media only screen and (min-width: $pcWidth) {
#appMenu {
    display: none;
}
#primaryMenu {
    #hamburger {
        display: none;
    }
}
#secundaryMenu {
    display: none;
}
}