@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

//////////////////////////////////////////////// SAAS VARIABLE
$shadow1: 0 0 5px rgb(84 69 48 / 55%);
$minWidth: 280px; // Galaxy Fold
$maxWidth: 2000px;
$pcWidth: 800px;
$borderRadius1: 1rem;
$linearGradient1: linear-gradient(to bottom, var(--main_color), var(--secundary_color));
$gap1: 10px;
$blur1: 5px;
$width: clamp($minWidth, 100vw, $maxWidth);
$topHeaderHeight: 65px;
$bottomHeaderHeight: 70px;

//////////////////////////////////////////////// BASE
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {    
    scroll-behavior: smooth;
    color: black;
    min-width: $minWidth;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 115px;

    --main_color: hsl(34, 49%, 63%);
    --main_color_transparent: hsla(34, 49%, 63%, 0.7);
    --secundary_color: hsl(34, 31%, 51%);
    --secundary_color_dark: hsl(34, 31%, 15%);
    --background_color1: hsl(32, 100%, 97%);
    --background-color2: hsl(35, 43%, 88%);
    --background-color_transparent: hsla(36, 100%, 98%, 0.945);
}
body {
    touch-action: none;
    user-select: none;
    zoom: 1 !important;
    background-color: var(--background-color2);
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.8rem;
}
h1, h2 {
    word-break: break-word;
    text-transform: uppercase;
    text-align: center;
}
p {
    line-height: 150%;
}
header, main, footer {
    max-width: $maxWidth;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--main_color);
    transition: opacity .5s;
}
a:hover {
    opacity: .7;
}

//////////////////////////////////////////////// ELEMENTS
header {
    height: clamp(200px, 70vh, 800px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 16, 16);
    background-size: cover;
    background-position: center;
    padding: calc($topHeaderHeight + 20px) 1rem;

    h1, h2 {
        color: white;
        text-shadow: 0 0 50px black, 0 0 20px black, 0 0 5px black;
    }
    .content {
        background-color: #2e2b24b9;
        padding: 1rem;
        border-radius: 2rem;
        gap: 1rem;
        backdrop-filter: blur(calc($blur1 * 2));
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        padding: 2rem;
    }
}
.btn {
    background-color: var(--main_color);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border-radius: 3rem;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header > .content {
    max-width: $pcWidth;
}
.logo {
    height: 60px;
    img {
        object-fit: cover;
        height: 100%;
        width: auto;
    }
}

//////////////////////////////////////////////// PRELOADER
#preLoader {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(0);
    transition: transform .5s;
    background-image: linear-gradient(to bottom, var(--main_color), var(--secundary_color));

    img {
        height: 100px;
    }
}

// Loader Animation
.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:#F4F4F4 #0000;
    animation:s1 1s infinite;
  }
  @keyframes s1 {to{transform: rotate(.5turn)}}

//////////////////////////////////////////////// NAVIGATION
nav{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    text-transform: uppercase;
    width: $width;
    z-index: 10;
}


// Primary Menu, Header
#primaryMenu {
    top: 0;
    height: $topHeaderHeight;
    background-color: rgba(255, 255, 255, 0.514);
    transition: background-color .5s;
    backdrop-filter: blur($blur1);
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    .logo {
        padding-left: 10px;
    }
    #hamburger {
        background-color: var(--main_color);
        height: 100%;
        cursor: pointer;
        justify-self: end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        padding: 0 15px;
        span {
            height: 5px;
            width: 35px;
            border-radius: 2px;
            background-color: white;
        }
    }
    .menu {
        display: none;
        justify-self: end;
        gap: 1rem;
        padding-right: 2rem;
        font-weight: bold;

        a {
            color: var(--secundary_color_dark);
            font-size: 1.3rem;
        }
    }
}
#primaryMenu.scroll {
    background-color: var(--background-color_transparent);
    box-shadow: $shadow1;
}


// Secundary Menu (Mobile)
#secundaryMenu {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    z-index: 9;
    position: fixed;
    top: 65px;
    bottom: 70px;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, var(--main_color_transparent), var(--main_color));

    backdrop-filter: blur($blur1);
    transform: translateX(100%);
    opacity: 0;
    transition: transform .5s, opacity 1s;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    text-shadow: $shadow1;

    a {
        color: white;
    }
    .contact {
        display: flex;
        gap: 1rem;
        font-size: 2.5rem;
    }
    .menu {
        grid-column: span 12;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;

        a {
            padding: 5px;
        }
    }
    .switch {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: $shadow1;
    }
}
#secundaryMenu[data-visible = "true"] {
    transform: translateY(0%);
    opacity: 1;
}


// Mobile Menu, App Menu
#appMenu {
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--main_color_transparent), var(--main_color));
    backdrop-filter: blur($blur1);
    justify-content: space-around;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    transition: transform 0.5s 0.15s;
    transform: translateY(120%);

    a {
        color: whitesmoke;
        text-shadow: 0 0 5px hwb(35 19% 67% / 0.5);
        padding: 6px 6px 10px 6px;
        font-size: 12px;
        grid-column: span 3;
    }
    i {
        min-width: 10px;
        font-size: 35px;
    }
    .active {
        background-color: white;
        background-image: linear-gradient(to bottom, white, rgb(235, 235, 235));
        box-shadow: $shadow1;
        color: var(--main_color_2);
        text-shadow: none;
        border-radius: 15px 15px 0 0;
        margin-top: -10px;
        padding-top: 16px;
    }
}

// Pop up Windows
#popupWindow {
    display: none;
    position: fixed;
    text-align: center;
    top: $topHeaderHeight;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: 9;

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--background_color1);
        box-shadow: $shadow1;
        width: 100%;
        height: 100%;
        max-width: 800px;
        z-index: 9;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    .cover {
        width: 100%;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
    .content {
        position: relative;
        bottom: 0;
        background-color: var(--background_color1);
        box-shadow: 0 -5px 5px #2727270a;
        padding-bottom: 70px;
        border-radius: 2rem;
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        i {
            font-size: 4rem;
        }
    }
    .background {
        position: fixed;
        inset: 0;
        background-color: var(--main_color_transparent);
        backdrop-filter: blur($blur1);
        z-index: 8;
    }
    .food {
        .title {
            padding: 1rem;
            font-weight: bold;
            width: 100%;
            font-size: 1.3rem;
        }
        .allergies {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            width: 100%;
            padding: 1rem;
            text-transform: uppercase;
        }
        .allergies > div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: .5rem;
        }
        .price {
            width: 100%;
            padding: 1rem;
            color: white;
            background-color: var(--main_color_transparent);
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .code {
        position: fixed;
        top: 10px;
        left: 10px;
    }
}

//////////////////////////////////////////////// ALERTS
#home {
    background-color: magenta;
    padding: 0;
    justify-content: flex-start;
    height: 80vh;
}
.alertBox {
    position: sticky;
    top: 65px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: $gap1;
    padding: $gap1;
    text-align: center;
    z-index: 1;
}
.alertBox > a {
    background-color: var(--main_color);
    color: var(--secundary_color_dark);
    padding: .5rem;
    border-radius: .5rem;
    width: 100%;
    max-width: 600px;
    font-size: 1.1rem;
}


//////////////////////////////////////////////// HOME PAGE
#infoBtns {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.container {
    padding: 100px 2rem;
}
#home {
    .widget {
        background-color: var(--background-color_transparent);
        position: absolute;
        left: 10px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        border-radius: 1rem;
        box-shadow: $shadow1;
        
        .title {
            font-weight: bold;
        }
    }
}

// Welcome
#welcome {
    background-image: $linearGradient1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 2rem;
    justify-items: center;

    .text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--background_color1);
        padding: 2rem;
        border-radius: 1rem;
        text-align: center;
        box-shadow: $shadow1;
        p {
            text-align: justify;
        }
    }
}
#welcome > div {
    grid-column: span 12;
}

#food {
    .content {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    a {
        grid-column: span 5;
    }
    a:nth-child(n+5) {
        display: none;
    }
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

#aboutUs {
    background-color: var(--secundary_color_dark);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .box {
        border-radius: $borderRadius1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem;
    }
    .vip {
        flex-wrap: wrap;
        padding: 0;

        p {
            padding: 1rem;
        }
        img {
            width: 100%;
            border-radius: $borderRadius1 $borderRadius1 0 0;
        }
    }

}
#aboutUs > div {
    max-width: 500px;
    border-radius: 2rem;
    background-color: var(--background_color1);
    text-align: justify;
}

// Reserve
#reservation {
    background-size: cover;

    .box {
        max-width: 500px;
        margin: 0 auto;
        background-color: var(--background_color1);
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    p {
        text-align: justify;
    }
    .phone {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 5px;
    }
    .contact {
        display: flex;
        gap: 1rem;
        justify-content: center;
        font-size: 2.5rem;
    }
}

.support {
    max-width: $pcWidth;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}




//////////////////////////////////////////////// FOOD, MENU PAGES
#foodMenu {
    #foodCategories {
        position: sticky;
        z-index: 8;
        top: $topHeaderHeight;
        background-color: rgb(31, 31, 31);
        .drink {
            background-color: white;
            color: black;
        }
        .content {
            overflow: auto;
            white-space: nowrap;
            padding: 10px 5px;
            .btn {
                margin-right: 8px;
            }
        }
    }
    #allergysBox {
        background-image: linear-gradient(to bottom, red, rgb(179, 0, 0));
        color: white;
        padding: 1rem;
        text-align: center;

        summary {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            padding: 10px;
        }
        .btn {
            opacity: .5;
            transition: opacity .5s, transform .5s;
        }
        .btn:hover {
            opacity: 1;
            transform: scale(.9);
        }
        .active {
            background-color: var(--main_color);
            opacity: 1;
        }
    }
    .foodBox {
        padding-bottom: 2rem;

        .foodTitles {
            background-image: $linearGradient1;
            box-shadow: var(--shad_5);
            color: #fff;
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
        }
        .foodContent {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: $gap1;
            gap: $gap1;
            
            .foodItem {
                grid-column: span 6;
                background-color: var(--background_color1);
                border-radius: $borderRadius1;
                box-shadow: $shadow1;
                position: relative;
                transition: transform .5s;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: $gap1;
                align-items: center;
                text-align: center;
                padding-bottom: $gap1;
            }
            .foodItem:hover {
                transform: scale(.9);
            }
            .code {
                position: absolute;
                font-weight: normal;
                left: 5px;
                top: 5px;
                font-size: 1rem;
            }
            b {
               padding: 0 5px;
            }
            .price {
                color: var(--main_color);
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        img {
            aspect-ratio: 4/3;
            object-fit: cover;
            width: 100%;
            border-radius: $borderRadius1;
        }
    }
}


//////////////////////////////////////////////// GROUPS PAGE
header {
    .groups {
        .btn {
            width: 100%;
            text-align: center;
        }
        p {
            color: white;
            line-height: 1.5rem;
            text-align: justify;
        }
    }
}


//////////////////////////////////////////////// CONTACT PAGE
header {
    .contact {
        a {
            color: white;
        }
    }
    .contact > div {
        display: flex;
    }
    .infos {
        flex-direction: column;
        gap: 1rem;
        font-size: 1.3rem;
    }
    .social {
        font-size: 2.5rem;
        gap: 1rem;
        justify-content: center;
    }
}
.companyContent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.companyContent > div {
    grid-column: span 12;
}
.companyInfo {
    background-color: var(--main_color_transparent);
    //padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

//////////////////////////////////////////////// SITEMAP // ERROR PAGE
#sitemap {
    background-color: var(--background-color_transparent);
    gap: 1rem;

    h1, h2 {
        color: var(--secundary_color_dark);
        text-shadow: none;
    }
    .menu {
        gap: 1rem;
        text-transform: uppercase;
        font-weight: bold;
    }
}



//////////////////////////////////////////////// MODULES
/// OPEN HOURS
.openHours {
    background-color: var(--background_color1);
    color: var(--secundary_color_dark);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-shadow: $shadow1;
    max-width: 350px;

    .title {
        padding: 12px 0;
        font-size: 1.2rem;
        background-image: $linearGradient1;
        color: white;
        border-radius: 1rem 1rem 0 0;
    }
    .day {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
        width: 100%;
        padding: 10px;

        div:nth-child(2) {
            font-size: 1.1rem;
        }
    }
    div:last-child {
        border-radius: 0 0 1rem 1rem;
    }
    .today {
        color: white;
        background-color: var(--main_color);
        animation: openHours 5s infinite ease-in-out;
        box-shadow: inset $shadow1;

        @keyframes openHours {
            0%, 100% {background-color: var(--main_color);}
            50% {background-color: var(--secundary_color);}
        }
    }
    .closed {
        color: red;
        opacity: .7;
    }
    .today.closed {
        color: white;
    }
}

// Guest
.guest {
    background-image: $linearGradient1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h2 {
        color: white;
    }
    b {
        text-transform: uppercase;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .item {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: 1rem;
        background-color: var(--background_color1);
        border-radius: 1rem;
        max-width: 500px;
    }
    .ratings {
        text-align: center;
        font-size: 1.4rem;
        color: white;
        a {color: white;}
    }
}

/// FAQ
.faq {
    color: var(--secundary_color_dark);
    //padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: bold;
    max-width: $pcWidth;
    margin: 0 auto;

    details {
        padding: .5rem;
        border-radius: .5rem;
        background-color: var(--main_color_transparent);
        
        summary {
            font-weight: bold;
        }
        p {
            line-height: 1.5rem;
            padding: .5rem;
        }
    }
}

//////////////////////////////////////////////// FOOTER
footer {
    text-transform: uppercase;
    text-align: center;
    color: var(--main_color);
    background-image: linear-gradient(#2e2b24, #1b1915);

    .social {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $gap1;
        background-image: $linearGradient1;
        font-size: 16px;
        font-weight: bold;
        color: var(--secundary_color_dark);
        a {color: var(--secundary_color_dark)}
        i {font-size: 2.5rem;}
        .content {
            display: flex;
            gap: calc($gap1 * 2);
        }
    }

    .middle {
        color: white;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: center;
        row-gap: 3rem;
        padding: 5rem 2rem;

        .contact {
            color: var(--main_color);
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            line-height: 1.5rem;
            text-align: left;
        }
    }
    .middle > div {
        grid-column: span 12;
    }

    .bottom {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        column-gap: 8rem;
        row-gap: 2rem;
        border-top: #1b1915 solid 2px;
        background-color: #1b1915;
        padding: 2rem;
        padding-bottom: 120px;

        .menu {
            gap: .5rem;
        }
        .creator {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            
            .logo {
                height: 22px;
            }
        }
    }
}
footer > div {
    padding: calc($gap1 * 2);
}

//////////////////////////////////////////////// MEDIA
@media only screen and (min-width: $pcWidth) {
header h1 {
    font-size: 3rem;
}
#appMenu {
    display: none;
}
#primaryMenu {
    #hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}
#secundaryMenu {
    display: none;
}
#welcome, footer {
    column-gap: 2rem;
}
#welcome > div {
    grid-column: span 4;
}
#food a {
    grid-column: span 2;
}
.companyContent > div {
    grid-column: span 6;
}
#foodMenu .foodBox .foodContent .foodItem {
    grid-column: span 3;
}
footer .middle > div {
    grid-column: span 3;
}
footer .middle {
    column-gap: 2rem;
}
footer .bottom {
    justify-content: space-between;
}
}