@import 'src/sass-global.scss';

#mobile-menu {
    visibility: hidden;
    position: fixed;
    background-color: var(--bg-color-2);
    inset: 0 0 0 30vw;
    z-index: 15;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    row-gap: 20px;
    box-shadow: $shadow-1;
    backdrop-filter: blur(5px);

    transform: translateX(100%);
    transition: transform 500ms,visibility 0ms 500ms;
    visibility: hidden;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;

        button {
            background-color: transparent;
            padding: 5px 12px;
            font-size: 30px;
            border: none;
            border-radius: 2rem;
            text-transform: uppercase;
        }
    }
    .exit {
        font-size: 50px;
    }
}
#mobile-menu.active {
    visibility: visible;
    transform: translateX(0);
    transition: transform 500ms;
}