@import 'src/sass-global.scss';

#mobile-menu {
    visibility: hidden;
    position: fixed;
    background-color: var(--primary-color);
    inset: 0 0 0 30vw;
    z-index: 15;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    box-shadow: $shadow-1;

    transform: translateX(100%);
    transition: transform 500ms,visibility 0ms 500ms;
    visibility: hidden;

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
}
#mobile-menu.active {
    visibility: visible;
    transform: translateX(0);
    transition: transform 500ms;
}