<footer>
    <div class="social">
        <div>Connect with Us</div>
        <div class="icons">
            <%- data.socialDiv %>
        </div>
    </div>
    <div class="middle">
        <div class="brand">
            <img src="/img/logo/white.webp" alt="">
            <div>anno 1982</div>
        </div>
        <div>Kapcsolat</div>
        <div>Nyitvatartás</div>
    </div>
    <div class="bottom">
        <a target="_blank" class="creator" href="https://red-cat.hu/">
            <div>Powered by</div>
            <img class="logo" src="https://center.red-cat.hu/img/logo/logo1.png" alt="logo of creator">
        </a>
    </div>
</footer>