<footer>
    <div class="top">
        <div class="brand">
            <img src="/img/logo/white.webp" loading="lazy" alt="Logo of Restaurant">
            <div>anno 1982</div>
        </div>
        <div class="contact">
            <%- data.contactDiv %>
        </div>
        <div>Nyitvatartás</div>
    </div>
    <div class="bottom">
        <a target="_blank" class="creator" href="https://adanor.eu">
            <div>Powered by</div>
            <img class="logo" src="/img/logo/adanor.svg" loading="lazy" alt="logo of creator">
        </a>
    </div>
</footer>