<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Rab Ráby</title>
    
    <meta name="theme-color" content="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    
    <meta property="og:title" content="Rab Ráby">
    <meta property="og:description" content="Leírás">
    <meta property="og:url" content="https://rabraby.hu">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">

    <link rel="stylesheet" href="/bootstrap/custom-bootstrap-icons.css">
    <link rel="stylesheet" href="/css/style.css">
</head>