<%- data.alertDiv %>
<nav>
    <div class="menu">
        <div class="logo">
            <img src="/img/logo/black.webp" alt="">
        </div>
        <div class="menu-laptop">
            <a href="#home">főoldal</a>
            <a href="#menu">étlap</a>
            <a href="#about">rólunk</a>
            <a href="#group">csoport</a>
            <a href="#contact">kapcsolat</a>
        </div>
        <div class="right">
            <div class="lang">
                <img src="/img/flag/hu.svg" alt="">
            </div>
            <div id="mobile-menu">Menu</div>
        </div>
    </div>
</nav>