<nav>
    <div class="alert">
        figyelem
    </div>
    <div class="menu">
        <div class="logo">Logo</div>
        <div class="menu-laptop">
            <div>home</div>
            <div>menu</div>
            <div>contact</div>
        </div>
        <div class="lang">HU</div>
    </div>
</nav>