RewriteEngine On

# www -> non-www and HTTP -> HTTPS
RewriteCond %{HTTP_HOST} !^localhost$
RewriteCond %{HTTP_HOST} ^www.rabraby.hu [NC]
RewriteRule ^(.*)$ https://rabraby.hu/$1 [L,R=301]

# Bann WP
RewriteRule ^wp.* - [F]

# API mappa specifikus átirányítás
RewriteRule ^api(/.*)?$ api/index.php [L,QSA]

# Közvetlen kiszolgálás, ha a kért fájl vagy könyvtár létezik
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/api/ [NC]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)$ index.php [L]
