$color-1: rgb(29, 29, 29);

.categories {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
    background-color: $color-1;
    height: 45px;
    position: sticky;
    top: 70px;
    overflow: auto;
    z-index: 10;

    button.btn {
        white-space: nowrap;
        color: $color-1;
        cursor: pointer;
    }
}