@import 'src/sass-global.scss';

.modul {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    row-gap: 1rem;
    inset: 0;
    z-index: 50;
}
.modul.open {
    display: flex;
}

// Close Button
.close {
    font-size: 50px;
    color: var(--primary-color);
    z-index: 51;
    cursor: pointer;
}

// Box
.box {
    display: flex;
    flex-direction: column;
    z-index: 51;
    max-width: $max-width;
    background-color: var(--bg-color);
    box-shadow: $shadow-1;
    border-radius: $border-size-main;
    width: 90%;
    max-height: 90%;
    max-width: 800px;
    overflow: auto;
    position: relative;

    .media {
        position: relative;
        max-height: 75%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .price, .allergy_alert {
            border-radius: 10px 0 0 10px;
            padding: 10px 14px;
            right: 0;
            text-transform: uppercase;
            position: absolute;
            font-weight: bold;
            color: var(--bg-color);
            box-shadow: $shadow-1;
            z-index: 1;
        }
        .price {
            background-color: var(--primary-color);
            font-size: 20px;
            top: 1rem;
        }
        .allergy_alert {
            bottom: 1rem;
            background-color: red;
            font-size: 25px;
        }
    }
    .media::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 15%;
        background-image: linear-gradient(transparent, var(--bg-color));
    }
    .content {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        .title {
            font-size: 25px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .allergy {
        display: flex;
        gap: 5px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        font-weight: bold;

        .allergens {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            & > div {
                background-color: var(--primary-color);
                color: var(--bg-color);
                border-radius: 10px;
                padding: 8px 10px;
            }
        }
    }
}

// Background
.bg {
    position: absolute;
    inset: 0;
    background-color: rgba(12, 12, 12, 0.911);
    cursor: pointer;
}

/*
@media only screen and (min-width: $max-width) {
    .box {
        flex-direction: row;
        .media {
            img {
                max-width: none;
                max-height: 100%;
                width: auto;
            }
        }
    }
}
*/