@import 'src/sass-global.scss';
$color-1: rgb(29, 29, 29);

.categories {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px;
    background-color: $color-1;
    height: 45px;
    position: sticky;
    top: 70px;
    overflow: auto;
    z-index: 9;

    button.btn {
        white-space: nowrap;
        color: var(--black);
        transition: color $ani-time-1;
        cursor: pointer;
    }
}

@media only screen and (min-width: $max-width) {
    .categories {
        border-radius: 0 0 1rem 1rem;
    }
}

