@import 'src/sass-global.scss';

$card-width: 270px;
$card-margin: 30px;

#reviews {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 1.5em 0;
    overflow: hidden;
    position: relative;

    h2 {
        color: var(--black);
    }
    :not(.row) {
        text-align: center;
    }
    .row {
        display: flex;
        animation: animateRow 30s linear infinite;
        padding: 1rem 0;

        .card {
            border-radius: $border-size-main;
            background-color: var(--bg-color-2);
            min-width: $card-width;
            margin-left: $card-margin;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 5px;
            line-height: 20px;

            .content {
                font-weight: bold;
                text-align: justify;
            }
            .title {
                opacity: .5;
            }
        }
    }
    .rating {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-weight: bold;
        gap: 10px;
        & > * {
            border-radius: $border-size-main;
            border-radius: 20px;
            padding: 10px;
            border: 2px solid var(--black);
            color: var(--black);
        }
    }
    @keyframes animateRow {
        to { translate: calc(-6 * ($card-width + $card-margin)); }
    }
}
#reviews.pure {
    .row {
        animation: none;
        overflow: auto;
    }
}
@media only screen and (min-width: $max-width) {
    #reviews {
        border-radius: $border-size-main;
    }
}