@import 'src/sass-global.scss';

.alerts {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 40%;
    overflow: auto;
    line-height: 1.3em;
    text-align: center;
    align-items: baseline;
    text-align: left;

    & > div {
        background-color: var(--primary-color);
        color: white;
        backdrop-filter: blur(5px);
        background-image: linear-gradient(transparent, rgba(20, 20, 20, .15));
        padding: 5px 8px;
        border-radius: $gap-2;
        font-weight: bold;
        overflow: auto;
        text-transform: uppercase;
    }
    .red { background-color: rgba(255, 0, 0, .8); }
    .blue { background-color: rgba(40, 112, 194, .8); }
    .orange { background-color: rgba(243, 158, 0, .8); }
    .green { background-color: rgba(122, 190, 20, 0.8); }
}