@import 'src/sass-global.scss';

.hero {
    position: relative;
    max-width: $max-width;
    box-shadow: $shadow-1;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
    
    .title {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-image: linear-gradient(rgba(255, 255, 255, 0.274), var(--primary-color));
        color: white;
        text-transform: uppercase;
        text-shadow: $shadow-1;
    }
    img {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media only screen and (min-width: $max-width) {
    .hero {
        margin-top: $gap-1;
        border-radius: $border-size-main;
        font-size: 1.5rem;
    }
}