@import 'src/sass-global.scss';

.menu {
    display: flex;
    flex-direction: column;
    color: var(--bg-color);
    background-color: var(--primary-color-3);
    min-height: 200px;
    padding: 1rem 0;
    text-align: center;

    h2 {
        color: var(--primary-color);
        padding: 1rem;
    }
    p {
        color: var(--secundary-color);
        padding: 0 1rem;
        line-height: 1.3em;
    }
    .row {
        display: flex;
        overflow: auto;
        column-gap: 1rem;
        padding: 1rem;
    }
    .food {
        min-width: 150px;
        max-width: 150px;
    }
}

@media only screen and (min-width: $max-width) {
    .menu {
        border-radius: $border-size-main;

        .food {
            min-width: 200px;
            max-width: 200px;
        }
    }
}