@import 'src/sass-global.scss';

.container {
    margin: 0 auto;
    max-width: $max-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    position: relative;

    & > * {
        padding: 1rem;
        grid-column: span 12;
    }
    .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(transparent, rgba(36, 36, 36, 0.884));
        z-index: 1;
        padding: 1rem;
        h1 {
            font-size: 45px;
            text-transform: uppercase;
            text-shadow: $shadow-1;
        }
    }
    .hero {
        grid-row: 1;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-image: linear-gradient(transparent, #15151563);
        color: white;
        align-items: flex-start;
        position: relative;
        overflow: hidden;

        .media {
            position: absolute;
            inset: 0;

            image, video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .menu {
        grid-row: 2;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .guide {
        padding: 1rem;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;

        h2 {
            font-size: 30px;
            text-transform: uppercase;
            text-align: center;
            padding: 1rem;
        }
        details {
            background-color: var(--primary-color);
            padding: 10px 15px;
            border-radius: 5px;
            summary {
                font-weight: bold;
                font-size: 1.1em;
            }
            p {
                padding: 5px;
            }
        }
    }
}
.content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    width: 100%;
    gap: 1rem;

    .item {
        background-color: var(--bg-color);
        transition: background-color $ani-time-1;
        border-radius: $border-size-main;
        padding: $gap-1;
        box-shadow: $shadow-1;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 22px;

            .name {
                color: var(--primary-color);
            }
            .price {
                border: solid 2px var(--secundary-color);
                color: var(--secundary-color);
                padding: 5px;
                border-radius: 5px;
            }
        }
        .details {
            padding: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
    }
}

@media only screen and (min-width: $laptop-width) {
    .container {
        padding: 1rem 0;
        row-gap: 1rem;
        .hero, .guide {
            grid-column: span 6;
            grid-row: 1;
        }
        .hero {
            margin-left: 1rem;
            border-radius: 1rem;
        }
        .guide {
            padding: 2rem;
        }
        .menu {
            grid-row: 2;
        }
    }
}
@media only screen and (min-width: $max-width) {
    .container {
        .menu {
            border-radius: $border-size-main;
        }
    }
}