@import 'src/sass-global.scss';
.price_alert {
    color: var(--primary-color);
    padding: 1rem;
    line-height: 1.3em;
    text-align: center;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    .food {
        position: absolute;
        font-size: 50px;
        color: white;
        text-shadow: $shadow-1;
    }
    .drink {
        font-size: 20px;
        position: absolute;
        bottom: 10px;
        right: 0;
        background-color: var(--primary-color);
        color: var(--bg-color);
        box-shadow: $shadow-1;
        padding: 1rem;
        border-radius: 1rem 0 0 1rem;
        transform-origin: 100% 50%;
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}
.content {
    min-height: 150vh;
}

@media only screen and (min-width: $max-width) {
    .hero {
        margin-top: 2rem;
        
        .drink {
            border-radius: 1rem;
            bottom: 1rem;
            right: -1rem;
            animation: drinkAni2 5s infinite;
        }
        img {
            border-radius: 1rem 1rem 0 0;
        }
    }

    @keyframes drinkAni2 {
        80%, 100% {right: -1rem;}
        95% {right: 0;}
    }
}