@import 'src/sass-global.scss';

.container {
    margin: 0 auto;
    max-width: $max-width;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    position: relative;
    width: 100%;

    & > * {
        padding: 1rem;
        grid-column: span 12;
    }
    .menu {
        grid-row: 2;
        background-color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;

        .info {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            
            & > * {
                padding: 7px 10px;
                border-radius: 1rem;
                font-size: 20px;
                line-height: 22px;
                color: white;
                font-weight: bold;
                text-align: center;
                box-shadow: $shadow-1;
            }
            .alert {
                background-color: rgb(36, 73, 143);
            }
            .pdf {
                background-color: rgb(32, 139, 32);
                animation: 2s pdfAni infinite;
            }
            @keyframes pdfAni {
                0%, 100% {scale: 1;}
                50% {scale: .9;}
            }
        }
    }
    .guide {
        padding: 1rem;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        font-weight: bold;
        
        h2 {
            font-size: 35px;
            text-transform: uppercase;
            text-align: center;
            padding: 1rem;
        }
        details {
            color: var(--black);
            background-color: var(--primary-color);
            transition: color $ani-time-1;
            padding: 10px 15px;
            border-radius: 5px;
            summary {
                font-size: 1.1em;
            }
            p {
                padding: 5px;
            }
        }
    }
}
.content {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr) );
    width: 100%;
    gap: 1rem;

    .item {
        background-color: var(--bg-color);
        transition: background-color $ani-time-1;
        border-radius: $border-size-main;
        padding: $gap-1;
        box-shadow: $shadow-1;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 22px;

            .name {
                color: var(--primary-color);
            }
            .price {
                border: solid 2px var(--secundary-color);
                color: var(--secundary-color);
                padding: 5px;
                border-radius: 5px;
            }
        }
        .details {
            padding: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 5px;
            font-weight: bold;
            line-height: 1.2em;
        }
    }
}

@media only screen and (min-width: $max-width) {
    .container {
        .menu {
            border-radius: $border-size-main;
        }
    }
}