@import 'variables.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-primary: hsl(34, 49%, 63%);
    --color-secundary: hsl(34, 31%, 15%);
    --color-bg-1: rgba(245, 222, 179, .9);
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(66, 66, 66);
    scroll-padding-top: $nav-height;
    $min-width: $min-width;
}


// General
a {
    color: var(--color-secundary);
    text-decoration: none;
}
p {
    text-align: justify;
}
h1, h2 {
    word-break: break-word;
    text-transform: uppercase;
}
.btns {
    display: flex;
    gap: .5em;
}
.btns > div {
    border-radius: $border-radius-1;
    padding: .5em;
    background-color: var(--color-primary);
    color: var(--color-secundary);
}

.box {
    border-radius: $border-radius-1;
    position: relative;
    box-shadow: $shadow-1;
    background-color: #2e2b2436;
}

.alert {
    background-color: var(--color-primary);
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: $shadow-1;
    background-color: #d9d9d9d0;
    background-image: linear-gradient(transparent, #26262614);
    backdrop-filter: blur(5px);
    
    .menu {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        height: $nav-height;
        max-width: $max-width;
        padding: 0 10px;
        margin: 0 auto;

        .logo {
            max-width: 150px;
            img {width: 100%;}
        }
    }
    .menu > div {
        grid-column: span 6;
    }
    .menu-laptop {
        display: none;
        align-self: center;
        justify-self: center;
        font-weight: bold;
        text-transform: uppercase;
        column-gap: 1em;
        font-size: 1.3em;
    }
    .right {
        align-self: center;
        justify-self: end;
        display: flex;
        align-items: center;
        column-gap: 1em;
      
        .lang {
            padding: 0 5px;
        }
    }
    a {
        color: var(--color-secundary);
    }
}
nav > div {
    padding: .5em;
}

main {
    min-height: 100vh;
    max-width: $max-width;
    margin: 0 auto;
    padding: $spacing-1 0;
    display: flex;
    flex-direction: column;
    row-gap: $spacing-1;
}
#home, main > div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: $spacing-1;
    min-height: 350px;
    padding: 0 $spacing-1;
}

// #home
#home {
    background-color: transparent;
    height: clamp(250px, 80vh, 800px);
    gap: $spacing-1;

    .welcome {
        background-color: yellow;
        grid-row: span 2;
        grid-column: span 12;

        .title {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: $spacing-1;
            display: flex;
            flex-direction: column;
            row-gap: .5em;
            h1 {
                font-size: 2.5rem;
            }
            .btns {
                overflow: auto;
                white-space: nowrap;
            }
        }

        .social {
            position: absolute;
            right: 0;
            top: 0;
            background-color: magenta;
            border-radius: 0 $border-radius-1 0px $border-radius-1;
            padding: .5em;
        }
    }
    .opens, .slider, #reservation {
        grid-column: span 12;
    }
    .opens {
        background-color: aquamarine;
    }
    .slider {
        background-color: rgb(34, 95, 75);
    }
}


#menu > div, #info > div, #about > div, #group > div {
    grid-column: span 12;
}


#info > div {
    padding: 25px;
    background-color: var(--color-bg-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;

    h2 {
        text-align: center;
        border-bottom: solid 2px var(--color-primary);
        border-top: solid 2px var(--color-primary);
        padding: 5px;
    }
}
#contact > div, #contact > a {
    font-size: 20px;
}
#faq {
    details {
        padding: .5em;
        border-radius: 0.5rem;
        background-color: var(--color-primary);
        background-image: linear-gradient(transparent, #1c1c1c1f);
        box-shadow: $shadow-1;

        summary {
            font-weight: bold;
        }
        p {
            padding: 1em;
        }
    }
}



// Footer
footer {
    color: var(--color-primary);
    background-image: linear-gradient(#2e2b24, #1b1915);

    .social {
        color: var(--color-secundary);
        background-color: var(--color-primary);
        background-image: linear-gradient(to bottom, transparent, rgba(29, 29, 29, .35));
        a {color: var(--color-secundary)}
    }

    .middle {
        justify-items: center;
        max-width: $max-width;
        margin: 0 auto;

        .brand {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 150px;
            }
        }
    }
    .middle > div, .social > div, .bottom > div {
        grid-column: span 12;
    }

    .bottom {
        background-color: #1b1915;
        padding-bottom: 100px;
    }
}
footer > div {
    padding: $spacing-2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-items: center;
}

#szechenyi {
    position: fixed;
    right: 0;
    bottom: -10px;
    width: clamp(150px, 50%, 250px);
    z-index: 10;

    img {
        width: 100%;
    }
}


// Ultra Mini
@media only screen and (max-width: $phone-width) {
    body {
        background-color: pink;
        min-width: 260px;
        overflow-x: hidden;
    }
    nav .menu .logo {
        max-width: 120px;
    }
}

// Tablet
@media only screen and (min-width: $tablet-width) {
    body {
        background-color: aqua;
    }
    #home {
        .welcome {
            min-height: 30vh;
            grid-column: span 12;
        }
        .opens, .slider {
            grid-column: span 6;
        }
    }
    #menu {
        column-gap: $spacing-1;
    }
    #menu > div {
        grid-column: span 6;
    }
    #info {
        column-gap: $spacing-1;

        #contact {
            grid-column: span 12;
        }
        #faq, #company {
            grid-column: span 6;
        }
    }

    #about {
        row-gap: $spacing-1;
        #guest {
            grid-column: span 6;
        }
    }

    #group {
        column-gap: $spacing-1;
    }
    #group > div {
        grid-column: span 6;
    }

    footer {
        .middle > div {
            grid-column: span 4;
        }
    }
}

// Laptop
@media only screen and (min-width: $laptop-width) {
    body {
        background-color: rgb(255, 174, 0);
    }
    nav {
        .menu > div {
            grid-column: span 4;
        }
        .menu-laptop {
            display: flex;
        }
        .right {
            .mobile {
                display: none;
            }
        }
    }
    #home {
        grid-template-rows: auto 1fr 1fr;
        .welcome {
            grid-row: span 3;
            grid-column: span 8;
        }
        .opens, .slider, #reservation {
            grid-column: span 4;
        }
        .opens {
            height: clamp(100px, 25vh, 200px);
        }
    }

    #about {
        #guest {
            grid-column: span 4;  
        }
        #about_us {
            grid-column: span 8;
        }
    }

    #info {
        #faq, #company, #contact {
            grid-column: span 4;
        }
    }
}