@import 'src/sass-global.scss';

.wifi {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    & > * {
        grid-column: span 12;
    }

    .welcome {
        position: relative;
        height: 500px;
        max-height: 40vh;
        text-transform: uppercase;
        overflow: hidden;
        
        .title {
            position: absolute;
            backdrop-filter: blur(5px);
            z-index: 1;
            left: 10px;
            top: 10px;
            right: 10px;
            padding: 15px;
            border-radius: calc($border-size-main - 10px);
            background-color: rgba(43, 107, 226, 0.8);
            background-image: linear-gradient(transparent, rgba(31, 31, 31, 0.356));
            color: var(--bg-color);
            line-height: 1.5em;
            letter-spacing: 0.2rem;
            animation: 1s welcomeAni 2s forwards;
            transform: translateY(-150%);
        }
        @keyframes welcomeAni {
            0% {transform: translateY(-150%);}
            100% {transform: translateY(0);}
        }
        video {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;

        & > * {
            padding: 1rem;
            background-color: rgba(15, 15, 15, 0.842);
            border-radius: $border-size-main;
            text-transform: uppercase;
            font-size: 22px;
            text-align: center;
        }
    }
}

@media only screen and (min-width: $laptop-width) {
    .wifi {
        padding: 1rem;
        & > * {
            grid-column: span 6;
        }
        .welcome {
            border-radius: $border-size-main;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: $max-width) {
    .wifi {
        padding-top: 1rem;
    }
}